<body>
        
            <hr>
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <h1>A fresh new way to channel your personal style is coming!</h1>
                        </div>
                    </div>
                    <div class= "span7 offset2">
                    <p><font size="5">Enter your e-mail to get an exclusive invitation to our private beta</font> </p>
                	</div>
                	<div class="span7 offset4">
                          <%= render 'form' %>
                	</div>
                </div>
            </div>
            </hr>
</body>
 	

