<h1>About us</h1>

<p><b> We believe that everyone has great style! But sometimes, we could all user some help finding it.
</b></p>

<p><b> We believe great style should fun and easy to find, no matter what your price point.</b>
</p>

<P> We also believe that clothes should fit and suit your figure, that not everyone is a size 00 or can wear high heels all day long
</p>

<P> It was with these beliefs in mind that we have set out to build MapMyStyle - a guide to help you find you style north. </p>

<p> Be one of the first to try out app: <%= link_to "Personalized Outfit", newstyle_path %></p>

<p> Or sign up so we can let you know when new things are coming!</p>
<p><%= link_to "Sign up now!", signup_path, :class => "btn btn-primary btn-large" %> </p>