<h1>About us</h1>
<p>We believe that everyone has great style! But sometimes, we could all user some help finding it.
</p>

<p> We believe great style should affordable, easy to find, no matter what your price point.
</p>

<P> We also believe that clothes should fit and suit your figure, that not everyone is a size 00 or can wear high heels all day long
</p>

