	
 	<h3> Want to find a personalized outfit? </h3>
 	<p></p>
 	
 	<%= link_to "Personalized Outfit", newstyle_path, :class => "btn" %> </p>
 	
 	<p> </p>
 	<p> </p>
 	<p> </p>
 	<p> </p>
 	<p> </p>
 	
