<body>
        
            <hr>
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span7 offset3">
                            <h2>Discover your personal style here!</h2>
                        </div>
                    </div>
                </div>
                 

                <p class="lead">Do you have a stuffed closet but nothing to wear? Let us help you find
                    your personal style using some simple and fun tools!</p>
                <div class="span5 offset4">
                            <%= link_to "Sign up today!", new_user_path, :class => "btn btn-large btn-success" %>
                            <br></br>
                </div>
            </div>
            </hr>
 	
