
	<h1>Let us help you find your personal style and have fun shopping online!</h1>
	<p>
	We can help you find clothes that fit your budget, lifestyle, nad body, without spending hours at the mall or in front of the computer.	
	</p>
	
	<%= link_to "Sign up now!", signup_path, :class => "btn btn-primary btn-large" %>
